.Todo{
  text-align: center;
}
.TodoEntry>input[type="text"]{
    border: 1px solid black;
    width:50vw;
    padding: 5px;
    font-size:1em;
    border-radius: 10px;
  }
.TodoEntry> input[type="button"]
  {
    background-color:black;
    color: white;
    padding: 8px;
    margin: 2px;
    border-radius: 10px;
  }
  .TodoItem{
    padding: 10px;
    color: black;
    font-weight: bold;
  }
  .TodoItem>*{
    margin-right: 15px;
  }
  .TodoItem>button{
    padding:5px;
    border-radius: 10px;
    background-color:rgb(255, 0, 0);
    color:black;
  }

  